<form action="/signup" method = "POST">
    <input type = "email" name = "email" placeholder = "Ingrese email">
    <input type = "password" name = "password" placeholder = "Ingrese password">

    <button type = "submit">
        Signup
    </button>
</form>